<!-- Main page after logged in -->
<%- include('./partials/header') %>
<%- include('./partials/menu_buttons') %>

<h2> Welcome <%= user.fname %></h2>
<p>Email : <%= user.email %></p>
<p>First Name : <%= user.fname %> </p>
<p>Last Name : <%= user.lname %> </p>
<p>Registered Time: <%= user.date %> </p>

<body>
    <div>
        <h1>My Feed:</h1>
        <ul>
            <% posts.forEach(function(post) { %>
            <li>
                <div>
                    <% owner = user_map[post.owner] %>
                    <% if (owner){ %>
                        <header><%= owner.fname %> <%= owner.lname %></header>
                    <% } %>
                    <h4><%= post.Title %></h4>
                    <p><%= post.Body %></p>
                    <p><%= post.date %></p>
                    <form action=/admin/comment method="post">
                        <input type="Text" id="Content" name="Content" placeholder="Type a comment" required>
                        <input type="Hidden" id="post_id" name="post_id" value= <%= post._id %>>
                        <button type="submit" class="btn"> Post </button>
                    </form>
                </div>
                <ul>
                    
                    <% post.comments.forEach(function(id) { %>
                    <% comment = comments[id]; %>
                    <% console.log("id:",id); %>
                    <% console.log("comments:",comments); %>
                    <% u = user_map[comment.user_id]; %>
                    <li>
                        <% if (u){ %>
                            <header><%= u.fname %> <%= u.lname %></header>
                        <% } %>
                        <p><%= comment.content %></p>
                        <p><%= comment.date %></p>
                    </li>
                    <% }) %>
                </ul>           
            </li>
            <% }); %>
        </ul>
    </div>
    <div>
        <h1>All users</h1>
        <ul>

            <% logged_in_usr = user._id %>

            <% users.forEach(function(user) { %>
                <li>
                    <%= user.email %>
                    <% if(user.active==true) { %>
                        online
                        <% } else { %>
                            offline
                            <% } %>


                    <% if((logged_in_usr in user.friends_list) === false) { %>
                    
                        <form action="/friends/add/" method="POST">

                            <input type="hidden" name="receiver_id" value="<%= user.email%>">
                            <input type="submit" name="response" value=Add />
            
                        </form>

                    <% } %>
        
                    

                </li>
                <% }); %>
        </ul>
    </div>
    
</body>