<!-- Main page after logged in -->
<%- include('./partials/header') %>

<h2> Welcome <%= user.fname %></h2>
<p>Email : <%= user.email %></p>
<p>First Name : <%= user.fname %> </p>
<p>Last Name : <%= user.lname %> </p>
<p>Registe Time:<%= user.date %> </p>

<%- include('./partials/menu_buttons') %>
<body>
    <div>
        <h1>My Feed:</h1>
        <ul>
            <% posts.forEach(function(post) { %>
            <li>
                <div>
                <header><%= post.owner %></header>
                <h4><%= post.Title %></h4>
                <p><%= post.Body %></p>
                <p><%= post.date %></p>
                </div>
            </li>
            <% }); %>
        </ul>
    </div>
    <div>
        <h1>All users</h1>
        <ul>
            <% users.forEach(function(user) { %>
                <li>
                    <%= user.email %>
                    <% if(user.active==true) { %>
                        online
                        <% } else { %>
                            offline
                            <% } %>
                </li>
                <% }); %>
        </ul>
    </div>
    
</body>