<!-- Main page after logged in -->
<%- include('header') %>

<h2> Welcome <%= user.fname %></h2>
<p>Email : <%= user.email %></p>
<p>First Name : <%= user.fname %> </p>
<p>Last Name : <%= user.lname %> </p>
<p>Registe Time:<%= user.date %> </p>
<!-- <button class="btn" onclick="window.location.href='/logout';">logout</button> -->
<%- include('menu_buttons') %>
<body>
    <div>
        <h1>All users</h1>
        <ul>
            <% users.forEach(function(user) { %>
                <li>
                    <%= user.email %>
                    <% if(user.active==true) { %>
                        online
                        <% } else { %>
                            offline
                            <% } %>
                </li>
                <% }); %>
        </ul>
    </div>
    
</body>