<!-- Main page after logged in -->
<%- include('./partials/header') %>

<h2> Welcome <%= user.fname %></h2>
<p>Email : <%= user.email %></p>
<p>First Name : <%= user.fname %> </p>
<p>Last Name : <%= user.lname %> </p>
<p>Registered Time: <%= user.date %> </p>

<script>
    function myfunction(post_id){
        let data = {post_id:post_id};
        fetch("/admin/like", {
            method: "POST",
            headers: {'Content-Type': 'application/json'}, 
            body: JSON.stringify(data)
        }).then(res => {
            return res.json();
        }).then(data => {
            console.log("Request complete! response:", data);
            document.getElementById("like_counter").innerText = data.likes.length + " people have liked this post.";
            document.getElementById("like_button").innerText = data.mode;
        });
    }
</script>

<%- include('./partials/menu_buttons') %>
<body>
    <div>
        <h1>My Feed:</h1>
        <!--display posts-->
        <ul>
            <% posts.forEach(function(post) { %>
            <li class="post_li">
                <div class="post_div">
                    <% owner = users[post.owner] %>
                    <% if (owner){ %>
                        <header class="post_name"><%= owner.fname %> <%= owner.lname %></header>
                    <% } %>
                    <p class="post_title"><%= post.Title %></p>
                    <p class="post_body"><%= post.Body %></p>
                    <p class="post_date"><%= post.date %></p>
                    <p class="post_privacy"><%= post.privacy %> can see this post</p>
                    <form action="/admin/comment" method="post">
                        <input type="Text" id="Content" name="Content" placeholder="Type a comment" required>
                        <input type="Hidden" id="post_id" name="post_id" value= <%= post._id %>>
                        <button type="submit" class="post_button"> Post </button>
                    </form>
                    <p id="like_counter"> <%= post.likes.length %> people have liked this post. </p>
                    <button type="button" id="like_button" class="post_button" onclick="myfunction('<%= post._id %>')"> Like </button>
                    
                    <!--<form action="/admin/like">
                        <input type="Hidden" id="post_id" name="post_id" value= <%= post._id %>>
                        
                    </form>-->
                </div>
                <!--display comments-->
                <ul>
                    <% post.comments.forEach(function(id) { %>
                    <% comment = comments[id]; %>
                    <% u = users[comment.user_id]; %>
                    <li>
                        <% if (u){ %>
                            <header><%= u.fname %> <%= u.lname %></header>
                        <% } %>
                        <p><%= comment.content %></p>
                        <p><%= comment.date %></p>
                    </li>
                    <% }) %>
                </ul>           
            </li>
            <% }); %>
        </ul>
    </div>
</body>