<!-- Select the user to chat with -->
<%- include('./partials/header') %>
<script src="/socket.io/socket.io.js"></script>

<h1> Chat </h1>
<%- include('./partials/menu_buttons') %>
<!-- Check if received user data and message_log from server -->

<div class="menu_statement">Who do you want to chat?</div>

<% user.friends_list.forEach((friend) => { %>
    <% var chatroom_link =  "window.location.href=" + "'/chatroom" ///" + friend._id + "'" %> 
    <div class="friend_display" style="cursor: pointer" onclick= <%= chatroom_link%>>
        <div class="friend_name"> <%= friend._id %> </div>
        <form method="GET" action=<%= "/chat/" + friend._id%>>
        </form>
    </div>
<% }); %> 

<% //function testFunction(){ %> 
    <% //var text = document.getElementById('hey') %>
    <% //console.log(text.innerText)%> 
    <% //window.location='http://google.com'; %> 
<% //}; %> 
