<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Friends</title>
</head>

<% if(typeof errors!='undefined'){ %>
<%      errors.forEach(function(error) { %>
<p class="error"><%=  error.msg           %></p>
<% }) %>
<% } %>

<% if(success_msg!=''){ %>
<p class="error"><%=  success_msg %> </p>         
<% } %>

<% if(error_msg!=''){ %>
<p class="error"><%=  error_msg %> </p>         
<% } %>



<!-- List All friends of a user --> 

<body>
    <h1>Friends</h1>

    <%- include('menu_buttons') %>

    <!-- Sends a request by an ObjectId -->
    <!-- TODO: CHANGE TO A SEARCH & ADD INSTEAD -->
    <form action="/friends/add" method="POST">
        <fieldset>
        <h3>Add by ObjectId</h3>
        <label>Friend ObjectID</label>
        <input type ="receiver_id" id = 'receiver_id' name="receiver_id" required>
        
        <button type ="Submit" class="btn">Send Request</button>

        </fieldset>
    </form>

    <!-- Check for Incoming Friend Requests -->
    <!-- Redirects to a different page -->
    <div>
        <button class="btn" onclick="window.location.href='/friends/requests';">Check Incoming Requests</button>
    </div>
    
    <div>
        <h1>My Friends</h1>
        <ul>
            
            <!-- Lists emails of ALL USERS -->
            <!-- TO-DO: ONLY SHOW USER's Friends -->
            <!-- TO-DO: Add profile links -->

            <% users.forEach(function(user) { %>
                <li>
                    <%= user.email %>                  
                </li>

                <% }); %>

        </ul>
    </div>
    
</body>


</html>