
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Profile</title>
</head>
<% if(typeof errors!='undefined'){ %>
<%      errors.forEach(function(error) { %>
<p class="error"><%=  error.msg           %></p>
<% }) %>
<% } %>

<% if(success_msg!=''){ %>
  <p class="error"><%=  success_msg %> </p>         
  <% } %>

  <% if(error_msg!=''){ %>
    <p class="error"><%=  error_msg %> </p>         
    <% } %>


<!-- 
  Profile Page

  1. User can see their own posts on a Profile page
  2. User can make posts on their profile page
  3. Privacy of each post can be changed to Public, Friends or Private
  
-->



<body>

  <h1>My Profile</h1>

  <h2> Welcome <%= user.email %>!</h2>
  <%- include('./partials/menu_buttons') %>
  <div>

  <form action="/profile/post" method="POST">
    <fieldset>
      <h3>New Post</h3>
      <label>Title</label>
      <input type ="text" id = 'Title' name="Title" required>
      
      <br><br>

      <label>Body</label>
      <input type ="text" id = 'Body' name="Body" required>
      
      <label>Attachment</label>
      <input type ="text" id = 'Img' name="Img">
      
      <label for="Privacy">Privacy</label>
      <select name="Privacy">
        <option value="public" selected>everyone</option>
        <option value="friends">my friends</option>
        <option value="private">only me</option>
      </select>

      <button type ="reset" class="btn">Reset</button>
      <button type ="submit" class="btn">Submit</button>
    </fieldset>
  </form>

  <h3>My Posts:</h3>
  <ul>
    <% posts.forEach(function(post) { %>
      <li>
        <div>
          <header><%= user.fname %> <%= user.lname %></header>
          <h4><%= post.Title %></h4>
          <p><%= post.Body %></p>
          <p><%= post.date %></p>
        </div>
      </li>
      <% }); %>
  </ul>

</body>

</html>
