<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Incoming Requests</title>
</head>

<% if(typeof errors!='undefined'){ %>
<%      errors.forEach(function(error) { %>
<p class="error"><%=  error.msg           %></p>
<% }) %>
<% } %>

<% if(success_msg!=''){ %>
<p class="error"><%=  success_msg %> </p>         
<% } %>

<% if(error_msg!=''){ %>
<p class="error"><%=  error_msg %> </p>         
<% } %>

<!-- Lists Incoming Requests -->
<body>
    <div class="outer_most_div">
   


    <% requests.forEach(function(user) { %>
        <li>
            Sender
            <%= user.sender_id %>
            Receiver
            <%= user.receiver_id %>    

            <form action="/friends/add/accept" method="POST">

                <input type="hidden" name="friend_id" value="<%= user.sender_id%>">
                <input type="submit" name="response" value=Accept />

            </form>
            

        </li>

        



    <% }); %>
    </div>

</body>


</html>